body {
  background-color: black;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#main-timer-output {
  text-align: center;
  font-size: 3.7rem;
}

#timers-container {
  height: 85vh;
  color: white;
}

#info-container {
  border-left: 1px solid white;
}

.border-red {
  border: 1px solid red;
}

.full-height {
  height: 100%
}

.data-output {
  font-size: 18pt;
}